.about {
  padding-top: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}
.about-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.about-list__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 1 * 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
}
.about-list__title {
  margin-bottom: 10px;
  @include font(14px, 700, 16px);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
}

.about-list__description {
  @include font(14px, 400, 24px);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}

.about-list__icons {
  display: flex;
  flex-basis: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}
