.contacts-list__content-wrapper {
  padding: 30px 32px;
}

.contacts {
  background-color: var(--secondary-background-color);
}

.contacts-list__title {
  margin-bottom: 10px;
  @include font(16px, 500, 19px);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}
.contacts-list__description {
  margin-bottom: 16px;
  @include font(16px, 400, 19px);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}

.contacts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.contacts-list__item {
  flex-basis: calc((100% - 120px) / 4);
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}