.projects-list {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  min-height: 404px;
}

.projects-list__item {
  flex-basis: 100%;
  max-width: 450px;
  
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 1 * 30px) / 2);
    max-width: 354px;
  }
  
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 2 * 30px) / 3);
    max-width: 370px;
  }

  background-color: #ffffff;
}


.projects-list__component-wrapper {
  padding: 20px 24px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: calc(100% - 281px);
  }
  border: 1px solid #eeeeee;
  border-top: none;
}

.projects-list__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.projects-list__title {
  @include font(18px, 700, 36px);
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 4px;
}

.projects-list__description {
   @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: auto;
  }
  @include font(16px, 400, 30px);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}

.projects-list__link {
  height: 100%;
  transition: box-shadow var(--animation-duration)
    var(--animation-timing-function);

  &:hover,
  &:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
