:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --primary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-dark: rgba(255, 255, 255, 0.6);
  --primary-text-color-theme-light: #212121;
  --secondary-text-color-theme-light: #757575;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --dark-theme-background-color: #2f303a;
  --logo-text-color-theme-light: #000000;
  --logo-text-color-theme-dark: #ffffff;
  --accent-button-color: #188ce8;

  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}